<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,996},{24,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,37}</string>
			</dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,996},{14,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,37}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,999},{23,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,999},{21,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,37}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,999},{23,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,996},{21,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,37}</string>
			</dict>
			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,996},{24,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,37}</string>
			</dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,996},{24,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,37}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,996},{24,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,37}</string>
			</dict>
			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,996},{24,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,37}</string>
			</dict>
			<key>battle_pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{1467,175},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>button.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,386},{308,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,90}</string>
			</dict>
			<key>button2.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,386},{308,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,90}</string>
			</dict>
			<key>button-title1.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,246},{167,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,72}</string>
			</dict>
			<key>button-title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,246},{167,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,72}</string>
			</dict>
			<key>button-title3.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,246},{167,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,72}</string>
			</dict>
			<key>check.png</key>
			<dict>
				<key>frame</key>
				<string>{{1424,690},{135,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,108}</string>
			</dict>
			<key>close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1196,972},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>color1_1024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,802},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{1368,245},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1475,2},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,361},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_2048.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,231},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_256.png</key>
			<dict>
				<key>frame</key>
				<string>{{1591,2},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1467,477},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,347},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_4096.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,593},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_512.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,463},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{1621,709},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,579},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>countdown-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,918},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>fengxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,918},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>fm_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1660,825},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>fm_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,695},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>fm_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1776,811},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>getForFriend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,386},{242,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,37}</string>
			</dict>
			<key>gotoBattle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,206},{152,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,35}</string>
			</dict>
			<key>huangzuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,964},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>huangzuan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,175},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>label_percent.png.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,967},{385,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{385,25}</string>
			</dict>
			<key>label_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,322},{173,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,40}</string>
			</dict>
			<key>line.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,996},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,999},{320,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,12}</string>
			</dict>
			<key>paly.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,245},{152,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,35}</string>
			</dict>
			<key>pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{1110,972},{82,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,39}</string>
			</dict>
			<key>pause_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,885},{484,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{484,78}</string>
			</dict>
			<key>pause_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{484,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{484,219}</string>
			</dict>
			<key>pause_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,967},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>pause_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,480},{112,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,143}</string>
			</dict>
			<key>pause_home.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,480},{112,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,143}</string>
			</dict>
			<key>pause_home1.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,859},{112,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,143}</string>
			</dict>
			<key>pause_home3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1600,118},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>pause_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,856},{112,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,143}</string>
			</dict>
			<key>pause_restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,479},{112,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,143}</string>
			</dict>
			<key>pause_restart1.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,601},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>pause_soundOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,732},{112,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,143}</string>
			</dict>
			<key>pause_soundOff1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1707,2},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>pause_soundOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1211,848},{112,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,143}</string>
			</dict>
			<key>pause_soundOn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1660,234},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>pause_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,595},{112,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,143}</string>
			</dict>
			<key>play.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,2},{169,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,169}</string>
			</dict>
			<key>prop_status1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1466,943},{69,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,63}</string>
			</dict>
			<key>prop_status2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1379,943},{83,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,63}</string>
			</dict>
			<key>prop_status3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,245},{89,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,63}</string>
			</dict>
			<key>rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,996},{27,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,21}</string>
			</dict>
			<key>rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,996},{27,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,21}</string>
			</dict>
			<key>rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,996},{27,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,21}</string>
			</dict>
			<key>rank_group.png</key>
			<dict>
				<key>frame</key>
				<string>{{1277,711},{112,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,143}</string>
			</dict>
			<key>rankBoard.png</key>
			<dict>
				<key>frame</key>
				<string>{{1274,284},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>rankHand.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,885},{423,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{423,110}</string>
			</dict>
			<key>rankHand-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,427},{151,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,48}</string>
			</dict>
			<key>reddot.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,967},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,775},{77,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,90}</string>
			</dict>
			<key>share_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,490},{604,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{604,124}</string>
			</dict>
			<key>share_play.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,596},{132,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,132}</string>
			</dict>
			<key>shareNotRevive.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,987},{249,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,35}</string>
			</dict>
			<key>skin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,618},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>skin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,2},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>skin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,2},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>skin4.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,246},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>skin5.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,2},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>skin-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,618},{263,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,244}</string>
			</dict>
			<key>skin-bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,618},{263,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,244}</string>
			</dict>
			<key>skin-front.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,480},{257,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,117}</string>
			</dict>
			<key>skin-front1.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,601},{257,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,117}</string>
			</dict>
			<key>soundoff.png</key>
			<dict>
				<key>frame</key>
				<string>{{1358,827},{112,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,143}</string>
			</dict>
			<key>soundon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,427},{112,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,143}</string>
			</dict>
			<key>start_paly.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,206},{152,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,35}</string>
			</dict>
			<key>tipsLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,326},{624,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{624,56}</string>
			</dict>
			<key>top.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,2},{320,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,128}</string>
			</dict>
			<key>pause_skin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,574},{112,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,143}</string>
			</dict>
			<key>icongame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,964},{80,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,55}</string>
			</dict>
			<key>button-more.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,775},{169,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>items.png</string>
			<key>realTextureFileName</key>
			<string>items.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>