<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>skin5.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>skin5_1024.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,987},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,987},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,987},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,987},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_2048.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,987},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_256.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,371},{38,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,73}</string>
			</dict>
			<key>skin5_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,454},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,493},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_4096.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,903},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_512.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,903},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,986},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,903},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin2_1024.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,255},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin2_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,377},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin2_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,499},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,621},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin2_2048.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,743},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin2_256.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,865},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin2_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,255},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,377},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin2_4096.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,499},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin2_512.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,621},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin2_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,743},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,865},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin4_1024.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,255},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin4_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,5},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin4_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,127},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,377},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin4_2048.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,499},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin4_256.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,621},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin4_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,743},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,865},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin4_4096.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,249},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin4_512.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,5},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin4_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,127},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin4_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,371},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin3_1024.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,249},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin3_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,5},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin3_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,127},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,537},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin3_2048.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,659},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin3_256.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,781},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin3_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,534},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,371},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin3_4096.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,249},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin3_512.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,5},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin3_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,127},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,656},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin6_1024.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,778},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin6_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,900},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin6_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,527},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,371},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin6_2048.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,249},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin6_256.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,5},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin6_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,127},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin6_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,649},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin6_4096.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,771},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin6_512.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,893},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin6_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,493},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>skin6_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,371},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,493},{24,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,37}</string>
			</dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,900},{14,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,37}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,900},{23,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,981},{21,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,37}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,981},{23,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,947},{21,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,37}</string>
			</dict>
			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,493},{24,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,37}</string>
			</dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,493},{24,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,37}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,900},{24,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,37}</string>
			</dict>
			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,947},{24,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skins.png</string>
			<key>realTextureFileName</key>
			<string>skins.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>