<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,980},{24,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,37}</string>
			</dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,789},{14,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,37}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,927},{23,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,849},{21,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,37}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,802},{23,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,37}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,860},{21,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,37}</string>
			</dict>
			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,614},{24,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,37}</string>
			</dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,661},{24,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,37}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,708},{24,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,37}</string>
			</dict>
			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,755},{24,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,37}</string>
			</dict>
			<key>add.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,1191},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>battle_pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,1043},{38,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,42}</string>
			</dict>
			<key>btn_chest.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,789},{84,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,120}</string>
			</dict>
			<key>button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1921,495},{352,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{352,99}</string>
			</dict>
			<key>button-more.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,236},{169,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,80}</string>
			</dict>
			<key>check.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,530},{135,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,108}</string>
			</dict>
			<key>chest.png</key>
			<dict>
				<key>frame</key>
				<string>{{1579,5},{343,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,221}</string>
			</dict>
			<key>chest_clesr.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,797},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>chest_double.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,586},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>chest_super.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,614},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>clear_spr.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,1027},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>clear_spr1.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,1026},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>close.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,1095},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>color1_1024.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,645},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,710},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,805},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,921},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_2048.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,393},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_256.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,393},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,393},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,515},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_4096.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,572},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_512.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,738},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,767},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>color1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,832},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>countdown-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,253},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>double_spr.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1035},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>double_spr1.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,1028},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,675},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>fengxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,1032},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>getForFriend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1862,585},{242,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,37}</string>
			</dict>
			<key>gotoBattle.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,790},{152,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,35}</string>
			</dict>
			<key>huangzuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,1128},{42,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,40}</string>
			</dict>
			<key>huangzuan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,1101},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>icongame.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,962},{80,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,55}</string>
			</dict>
			<key>label_percent.png.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,585},{385,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{385,25}</string>
			</dict>
			<key>label_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1028},{92,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,41}</string>
			</dict>
			<key>label_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,572},{173,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,40}</string>
			</dict>
			<key>label_skin.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1028},{90,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,42}</string>
			</dict>
			<key>line.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,896},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2030,495},{320,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,12}</string>
			</dict>
			<key>LOGO.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,5},{450,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,238}</string>
			</dict>
			<key>moregame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,415},{160,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,84}</string>
			</dict>
			<key>paly.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,864},{152,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,35}</string>
			</dict>
			<key>pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,1102},{82,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,39}</string>
			</dict>
			<key>pause_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,889},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>pause_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{490,265}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,265}</string>
			</dict>
			<key>pause_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,463},{141,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,141}</string>
			</dict>
			<key>pause_home.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,763},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>pause_skin.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,503},{84,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,120}</string>
			</dict>
			<key>pause_soundOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,927},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>pause_soundOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,694},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>play.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,393},{169,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,169}</string>
			</dict>
			<key>prop_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,954},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>prop_BG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1932,5},{480,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,105}</string>
			</dict>
			<key>prop_status1.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,962},{69,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,63}</string>
			</dict>
			<key>prop_status2.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,889},{83,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,63}</string>
			</dict>
			<key>prop_status3.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,960},{89,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,63}</string>
			</dict>
			<key>rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,907},{27,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,21}</string>
			</dict>
			<key>rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,930},{27,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,21}</string>
			</dict>
			<key>rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,944},{27,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,21}</string>
			</dict>
			<key>rank_group.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,633},{84,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,120}</string>
			</dict>
			<key>rankBoard.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,860},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>rankHand.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,547},{248,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,120}</string>
			</dict>
			<key>rankHand-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,463},{151,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,48}</string>
			</dict>
			<key>reddot.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,915},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,919},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>share_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,5},{604,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{604,124}</string>
			</dict>
			<key>share_play.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,503},{132,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,132}</string>
			</dict>
			<key>shareNotRevive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1862,837},{249,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,35}</string>
			</dict>
			<key>skin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,236},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>skin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,486},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>skin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,736},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>skin4.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,253},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>skin5.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,280},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>skin-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,139},{263,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,244}</string>
			</dict>
			<key>skin-bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,139},{263,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,244}</string>
			</dict>
			<key>skin-front.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,280},{257,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,117}</string>
			</dict>
			<key>skin-front1.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,530},{257,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,117}</string>
			</dict>
			<key>soundoff.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,280},{112,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,143}</string>
			</dict>
			<key>soundon.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,433},{112,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,143}</string>
			</dict>
			<key>start_paly.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,864},{152,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,35}</string>
			</dict>
			<key>super_spr.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,1043},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>super_spr1.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,1117},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>tipsLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,139},{624,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{624,56}</string>
			</dict>
			<key>top.png</key>
			<dict>
				<key>frame</key>
				<string>{{1907,857},{320,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,128}</string>
			</dict>
			<key>watchAds.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,1191},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>zuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1079},{63,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,53}</string>
			</dict>
			<key>zuandi.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,624},{156,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>items.png</string>
			<key>realTextureFileName</key>
			<string>items.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>