<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>skin2_1024.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,507},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin2_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,361},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin2_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,446},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,255},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin2_256.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,340},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin2_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,255},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,592},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin2_512.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,507},{93,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,29}</string>
			</dict>
			<key>skin2_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,677},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,762},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin3_1024.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,847},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin3_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,892},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin3_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,977},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,610},{93,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,29}</string>
			</dict>
			<key>skin3_2048.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,713},{93,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,29}</string>
			</dict>
			<key>skin3_256.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,892},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin3_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,977},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,491},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin3_4096.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,576},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin3_512.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,825},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>skin3_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,871},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>skin3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,661},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin4_1024.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,746},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin4_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,831},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin4_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,876},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,876},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin4_2048.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,816},{93,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,29}</string>
			</dict>
			<key>skin4_256.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,961},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin4_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,491},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,425},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin4_4096.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,361},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>skin4_512.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,434},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>skin4_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,340},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin4_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,255},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin2_2048.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,340},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>skin2_4096.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,255},{69,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,96}</string>
			</dict>
			<key>skin5_1024.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,255},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,5},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,88},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,171},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_2048.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,576},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_256.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,919},{38,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,73}</string>
			</dict>
			<key>skin5_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,659},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,742},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_4096.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,576},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_512.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,470},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,659},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,742},{31,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,73}</string>
			</dict>
			<key>skin5.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skins.png</string>
			<key>realTextureFileName</key>
			<string>skins.png</string>
			<key>size</key>
			<string>{303,1017}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>303</integer>
			<key>height</key>
			<integer>1017</integer>
		</dict>
	</dict>
</plist>